{# templates/admin_web/users.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Обзор и управление мыслями машины{% endblock %}

{% block body %}

    <div style="margin-left: 0" class="container">
        <div class="row">
            <div class="col-8">
                <h2>Список Мыслей</h2>
            </div>
            <div class="col-4">
                <h2>Список фокусов</h2>
            </div>
        </div>
    </div>
{% endblock %}
